.user-detail-container {
    margin-top: 20px;
}

.user-detail-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.user-detail-image {
    flex: 1;
    margin-right: 20px;
}

.user-detail-info {
    flex: 2;
}

.user-detail-header {
    margin-bottom: 20px;
}

.user-detail-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.user-detail-info strong {
    font-weight: 600;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}